$fontMain: "Manrope";
$scaleGreen: #10d8c4;
$lightGray: #848ead;
$darkGray: #293356;
$discountOrange: #ff8d68;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  place-items: center;
  background-image: url("/images/bg-pattern.svg");
  background-repeat: repeat-x;
  background-size: 100%;
  background-color: #f9faff;
  font-family: "Manrope", sans-serif;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(29, 83%, 45%);
  }
}

.mainImg {
  width: 326px;
  height: 81;

  background-color: red;
  background-image: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100%;
  h1 {
    font-size: large;
  }
}
